Automated Email Outreach.json
{
  "name": "Automated Email Outreach",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Sheet1"
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [-400, 0],
      "name": "Google Sheets Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "YOUR_GOOGLE_DOC_ID"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [-200, 0],
      "name": "Get Template"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Name",
              "value": "={{ $('Google Sheets Trigger').item.json.Name }}",
              "type": "string"
            },
            {
              "name": "Email",
              "value": "={{ $('Google Sheets Trigger').item.json.Email }}",
              "type": "string"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [0, 0],
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json[\"Name\"]}}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{$json[\"Email\"]}}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{$json[\"Email\"]}}",
              "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 0],
      "name": "Validate Data"
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"Email\"]}}",
        "subject": "Build a High-Converting Website for Your Business",
        "message": "=Hi {{$json[\"Name\"]}},<br><br>{{$json[\"content\"].split(\"\\n\").join(\"<br>\")}}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [400, -100],
      "name": "Send Email"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Sheet1",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sent": "YES",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": ["Email"]
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [600, -100],
      "name": "Mark as Sent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Sheet1",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sent": "WAITING",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": ["Email"]
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [400, 100],
      "name": "Mark as Waiting"
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [[{ "node": "Get Template", "type": "main", "index": 0 }]]
    },
    "Get Template": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Validate Data", "type": "main", "index": 0 }]]
    },
    "Validate Data": {
      "main": [
        [{ "node": "Send Email", "type": "main", "index": 0 }],
        [{ "node": "Mark as Waiting", "type": "main", "index": 0 }]
      ]
    },
    "Send Email": {
      "main": [[{ "node": "Mark as Sent", "type": "main", "index": 0 }]]
    }
  }
}
